.navMenu {
    margin: 30px;

	a {
		color: #000;
		text-decoration: none;
		font-size: 1.1em;
        font-weight: 500;
        margin-right: 40px;
        padding: 15px 0;
		transition: all 0.4s ease-in-out;
        
		&:nth-child(1) {
			&:hover {
				~ {
					.dot {
		                width: 45px;
						transform: translateX(0px);
						transition: all 0.3s ease-in-out;
                        transition-delay: 0.1s;
					}
				}
			}
		}
		&:nth-child(2) {
			&:hover {
				~ {
					.dot {
		                width: 50px;
						transform: translateX(85px);
						transition: all 0.3s ease-in-out;
                        transition-delay: 0.1s;
					}
				}
			}
		}
		&:nth-child(3) {
			&:hover {
				~ {
					.dot {
		                width: 30px;
						transform: translateX(175px);
						transition: all 0.3s ease-in-out;
                        transition-delay: 0.1s;
					}
				}
			}
		}
		&:nth-child(4) {
			&:hover {
				~ {
					.dot {
		                width: 60px;
						transform: translateX(250px);
						transition: all 0.3s ease-in-out;
                        transition-delay: 0.1s;
					}
				}
			}
		}
	}
	.dot {
		width: 45px;
		height: 2px;
		background: #000;
		transform: translateX(0px);
		transition: all 0.3s ease-in-out;
        transition-delay: 0.1s;
        margin-top: 10px;
	}
}
