@import "../../styles/utils/variables.scss";

.navMenu {
    margin: 30px 50px;
	position: absolute;
	top: 0;
	z-index: 99;

	a {
		color: $black;
		text-decoration: none;
		font-size: 1em;
        font-weight: 500;
        margin-right: 40px;
        padding: 15px 0;
		transition: all 0.4s ease-in-out;
        
        &:hover {
            color: gray;
        }

		&:nth-child(1) {
			&.active {
				~ {
					.underline {
		                width: 40px;
						transform: translateX(0px);
						transition: all 0.2s ease-in-out;
                        transition-delay: 0.1s;
					}
				}
			}
		}
		&:nth-child(2) {
			&.active {
				~ {
					.underline {
		                width: 47px;
						transform: translateX(80px);
						transition: all 0.2s ease-in-out;
                        transition-delay: 0.1s;
					}
				}
			}
		}
		&:nth-child(3) {
			&.active {
				~ {
					.underline {
		                width: 30px;
						transform: translateX(166px);
						transition: all 0.2s ease-in-out;
                        transition-delay: 0.1s;
					}
				}
			}
		}
		&:nth-child(4) {
			&.active {
				~ {
					.underline {
		                width: 60px;
						transform: translateX(236px);
						transition: all 0.2s ease-in-out;
                        transition-delay: 0.1s;
					}
				}
			}
		}
	}
	.underline {
		width: 40px;
		height: 2px;
		background: $black;
		transition: all 0.2s ease-in-out;
        transition-delay: 0.1s;
        margin-top: 10px;
	}
}
