@import "../../styles/utils/variables.scss";
@import "../../styles/utils/mixins.scss";

.footer {
	display: flex;
	align-items: center;
	margin: 25px 30px;

	@include breakpoint(tablet) {
		position: absolute;
		bottom: 0;
		z-index: 0;
	}
}

.navMenu {
	margin-left: 50px;

	a {
		color: darkgray;
		text-decoration: none;
		font-size: 0.8em;
        margin-right: 40px;
        padding: 15px 0;
		transition: all 0.4s ease-in-out;
        
        &:hover, &.active {
            color: black;
        }
	}
}

.icon {
	font-size: 16pt;
	color: darkgray;
	margin-top: 7px
}